.container
  %p
    广西南宁四方连续文化传播有限公司
    %br/
    四方连续 / 简介
    %br/
    广西南宁四方连续文化传播有限公司（简称：四方连续创享品牌 / The continuous），专注品牌形象量身定制，是一家注重实效的新锐设计公司，以品牌设计为核心业务，为各阶段企业提供务实的形象策划服务。
    %br/
    四方连续核心服务：品牌形象建立与升级：品牌策划 \ 标志设计 \ VIS设计 \ 商业空间设计； 推广物料设计：画册样本设计 \ 展会形象设计 \ 包装设计 \ 网站设计；广告设计代理：专业地产整合推广以及品牌形象年度设计管理。
    %br/
    四方连续是一个积极向上的年轻团队，我们怀着一颗进取、责任、感恩的心，致力服务于重视形象价值的客户，提供相互尊重与信任的设计服务，我们不只为了盈利，更怀揣着创想未来的梦想！
    %br/
    热忱期待与更多潜力型企业客户共同成长、携手同行。
  %h4 我们的原则
  .row.center-align.aboutus-row
    .col.l4.s12
      = image_tag("m/about_us/1484044990_Icon_Business_Set_00016_A.png", class: "responsive-img")
      %h5 策略 / Strategy
      %p 以品牌营销策略为目标的用户分析、内容信息构建及落地方式。
    .col.l4.s12
      = image_tag("m/about_us/1484045043_Experience_Project", class: "responsive-img")
      %h5 体验 / Experience
      %p 通过适合受众者的视觉设计方式来达到品牌与人之间的最佳用户体验。
    .col.l4.s12
      = image_tag("m/about_us/1484044958_5360_-_Dzone", class: "responsive-img")
      %h5 新锐 / Young
      %p 四方连续是一个积极向上的年轻团队，我们怀着一颗进取、责任、感恩的心，致力服务于重视形象价值的客户。
