-# %h3.header= sanitize @page.title
-# %p= sanitize @page.body


.views-page-container
  .views-slider-wrap.center-align.white-text
    .views-slider.first
      %h4 公司主要特点
      %h4 COMPANY'S MAIN CHARACTERISTICS
      %h3 只为壹个目的
      %p 
        我们所做的一切，只为一个目的，即:销售！
        %br
        广告首先是商业行为，而后才是艺术展现……      

    .views-slider.second
      %h4 公司主要特点
      %h4 COMPANY'S MAIN CHARACTERISTICS
      %h3 贰个基本认识
      %p 
        品牌市场营销的本质是什么？
        %br
        为客户创造价值，满足客户需求，在为客户创造价值的基础上，同时企业创造利润。
      %p 
        品牌推广的核心是什么？
        %br
        品牌推广的核心是--创意！

    .views-slider.third
      %h4 公司主要特点
      %h4 COMPANY'S MAIN CHARACTERISTICS
      %h3 坚持叁个原则
      %p 
        坚持从务实的角度去检验创意;
      %p 
        坚持以实效广告推动销售;
      %p
        坚持以消费心理洞察中寻找有效的传播、沟通方式！

    .views-slider.fourth
      %h4 公司主要特点
      %h4 COMPANY'S MAIN CHARACTERISTICS
      %h3 遵守肆大定律
      %p
        一、拒绝盲人摸象
        %br
        品牌的市场营销推广部是简单的概念包装+平面设计。
        %br
        需要在准确把握市场动态发展的前提下，对品牌、产品进行深度的解读：
        %br
        需要在对营销策略的充分理解的组合传播概念信息形成精准的传播策略，在这个过程中需要
        %br
        多角度、全方位的审视项目市场进入的每一个专业块面！
      %p 
        二、拒绝空谈品牌
        %br
        品牌，非一日之功！
        %br
        品牌的形成与完善需要多层面的构建与多角度的维护，
        %br
        品牌是棵树，树大好乘凉！
        %br
        树之茁壮，非一日之功，树之茂盛，则需要精心呵护，
      %p 
        三、拒绝本末倒置
        %br
        实效市场营销推广的标准，后先是围绕“销”来设计策略，
        %br
        当广告与营销相遇，关键是“营销”的“销”，并非“广告”的“广”，
        %br
        首先要“理解营销”才能“引导营销”才能更好的表现营销，
        %br
        最终为实现营销做贡献！
      %p
        四、选择适合的
        %br
        天马行空、奇思妙想的创意；
        %br
        高贵华丽、精美绝伦的画面表现；
        %br
        针对品牌、产品本身，选择适合的才是最好的。



