%nav#nav-header
  .nav-wrapper
    .row
      .col.l10.offset-l1
        / Refinery::Core.site_name
        = link_to image_tag("m/favicon.png"), root_path, class: "brand-logo .vto-center"
        = link_to "Menu", "#", class: "button-collapse", data:{activates: "slide-out"}


        %i.fa.fa-search.fa-lg.right.header-search-toggle{"aria-hidden" => "true"}

        = render "/menu"
