.right
  %ul.right.hide-on-med-and-down
    %li
      = link_to "Home", root_path, class: "waves-effect waves-light"
      = link_to "About", "about", class: "waves-effect waves-light"
      = link_to "Gallery", galleries_path, class: "waves-effect waves-light"
      = link_to "Contact", "contact", class: "waves-effect waves-light"





